* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    color: #fff;
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
  
  .container {
    position: relative;
  }
  
  /* header  */
  .header {
    z-index: 100;
    width: 100%;
    position: relative;
  }
  
  .header .container-menu {
    position: absolute;
    height: 100%;
  }
  
  .menu {
    width: 100vw;
    height: 4.5vw;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: inherit;
    background: black;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .menu a {
    width: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1vw;
    text-transform: capitalize;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    outline: none !important;
    color: #fff;
  }
  
  .menu .link-container {
    height: 100%;
    position: relative;
  }
  
  .menu .link-logo {
    width: 12% !important;
  }
  
  .menu .link-logo img {
    width: auto;
    height: 5.5vw;
    transition-duration: 0.5s;
  }
  
  .menu .link-logo img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .menu .link-container.link-active:hover {
    color: burlywood;
  }
  
  .menu i {
    color: white;
    font-size: 6vw;
    display: none;
  }
  
  .header .menu-pc .close-navbar {
    display: none;
  }
  
  .menu.menu-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 7%;
    transform: translateX(-100vw);
    transition: all 0.3s;
  }
  
  .menu.menu-mobile a {
    width: 100%;
    height: 6%;
    font-size: 5vw;
  }
  
  
  
  /* body  */
  #app {
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .section {
    height: 110vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  /* .sidebar */
  .sidebar {
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 1%;
    margin: auto;
    height: 50vw;
    width: 8%;
    z-index: 888;
    background: url(../img/side_bar/background.png) no-repeat right center;
    background-size: 100% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.3s;
    transition: all 0.3s;
    color: #dfc384;
  }
  
  .sidebar.hide-sidebar {
    transform: translateX(112%);
  }
  
  .sidebar .toggle-nav {
    position: absolute;
    height: 7vh;
    width: 34%;
    left: -38%;
    top: 50%;
    cursor: pointer;
    transition: 0.3s;
    background: url(../img/side_bar/btn-hide.png) no-repeat center center;
    background-size: 100% auto;
  }
  
  .sidebar .toggle-nav.out {
    transform: scaleX(-1);
  }
  
  .sidebar .toggle-nav:not(.out):hover {
    transform: scale(1.3);
  }
  
  .sidebar .out:hover {
    transform: scaleX(-1) scale(1.3);
  }
  
  .sidebar .qr-link {
    position: absolute;
    width: 46%;
    top: 33.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    white-space: nowrap;
    font-size: 0.8vw;
    gap: 0.5vw;
  }
  
  .sidebar .qr-link img {
    width: auto;
    height: 9vh;
  }
  
  .sidebar .text-download {
    color: #fff;
    font-size: 0.8vw;
    position: absolute;
    top: 50%;
  }
  
  .sidebar a {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #dfc384;
    gap: 0.2vh;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    transform: scale(1.3);
  }
  
  .sidebar .download-link {
    top: 0;
    left: 11%;
  }
  
  .sidebar .link-chplay {
    top: 53.5%;
  }
  
  .sidebar .download-link img {
    height: 4vh;
  }
  
  .sidebar a p {
    font-size: 1.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.1;
  }
  
  .sidebar .link-appstore {
    top: 59%;
  }
  
  .sidebar .link-fanpage {
    top: 67%;
  }
  
  .sidebar .link-telegram {
    top: 72.5%;
  }
  
  .sidebar .credit-link {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-family: "mb";
    top: 79%;
  }
  
  
  
  /* sector-1 */
  .frame-1 {
    width: 100%;
    height: auto;
  }
  
  .frame-1 .frame-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
  }
  
  .frame-1 .frame-container .frame-theme.mobile {
    width: 100%; 
    height: auto; 
    display: none;
  }
  
  .frame-1 .frame-container .frame-theme img {
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: cover;
  }
  
  
  
  
  
  .frame-1 .frame-container .frame-sologan {
    top: 30%;
    position: absolute;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .frame-1 .frame-container .frame-sologan img {
    width: 100%;
    height: auto;
  }
  
  .frame-1 .frame-container .frame-btn {
    cursor: pointer;
    position: absolute;
    top: 77%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1.9vw;
  }
  
  .frame-1 .frame-container .frame-btn img {
    width: auto;
    height: 4.5vw;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .frame-1 .frame-container .frame-btn img:hover {
    transform: scale(1.2);
    filter: brightness(120%);
  }
  
  
  
  /* footer  */
  .footer {
    width: 100%;
    color: #aa6b23;
    position: relative;
    bottom: 0px;
    background: black;
    overflow: hidden;
    display: block;
  }
  
  .footer .footer-container {
    width: 100%;
    height: 28vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .footer .footer-container .footer-holder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.5vw;
  }
  
  .footer .footer-container .footer-holder a {
    text-decoration: none;
    outline: none !important;
    color: #fff;
  }
  
  .footer .footer-container .logo-container img {
    width: auto;
    height: 8vw;
  }
  
  .footer .footer-container .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 18%;
    gap: 0.5vw;
  }
  
  .footer .footer-container .info-container .search {
    width: 100%;
  }
  
  .footer .footer-container .info-container .search img {
    width: 100%;
    height: auto;
  }
  
  .footer .footer-container .info-container .link-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  
  .footer .footer-container .info-container .link-container a:link {
    text-decoration: none;
    outline: none !important;
    color: #fff;
  }
  
  .footer .footer-container .info-container .link-container img {
    width: auto;
    height: 2.45vw;
  }
  
  .footer .footer-container .info-container .note-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    font-size: 0.7vw;
    gap: 0.5vw;
  }
  
  .footer .footer-container .info-container .note-container img {
    width: auto;
    height: 2.5vw;
  }
  
  .footer .footer-container .info-container .note-container .line {
    height: 100%;
    background: #fff;
  }
  
  .footer .footer-container .info-container .note-container p {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #d1c4a9;
  }
  
  .footer .footer-container .redirect-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #d1c4a9;
    font-size: 1vw;
    text-transform: uppercase;
    gap: 0.5vw;
  }
  
  .footer .footer-container .redirect-container a {
    color: #d1c4a9;
    text-decoration: none;
  }
  
  .footer .footer-container .detail-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    font-size: 0.8vw;
    color: #d1c4a9;
  }
  
  .footer .footer-container .detail-container a:link {
    text-decoration: none;
    outline: none !important;
    color: #fff;
  }
  
  @media only screen and (max-width: 1024px) {
  
    /* header  */
    .header {
      position: fixed;
    }
  
    .header .menu-pc {
      justify-content: space-between;
      padding: 0 5%;
      height: 11vw;
    }
  
    .header .menu-pc .link-container {
      display: none;
    }
  
    .header .menu-pc .link-logo {
      display: flex;
      margin-top: 0;
      margin-left: 10px;
    }
  
    .header .menu-pc .link-logo img {
      height: 10vw;
    }
  
    .menu-pc .toggle-menu .active {
      display: flex;
    }
  
    .menu.menu-mobile.show {
      transform: translateX(0vw);
    }
  
    /* sidebar  */
    .sidebar {
      display: none !important;
    }
  
    /* sector-1 */
    .frame-1 .frame-container .frame-sologan{
      width: 90%; 
      top: 37%;
    }
    .frame-1 .frame-container .frame-sologan img{
      height: 14vh
    }
    .frame-1 .frame-container .frame-btn img {
      height: 13.6vw;
    }
    .frame-1 .frame-container .frame-btn{
      flex-direction: column;
      top: 82%;
    }
  
    .frame-1 .frame-container .frame-theme.mobile{
      display: flex;
    }
    .frame-1 .frame-container .frame-theme img {
      object-fit: contain; /* Đảm bảo ảnh được chứa trong div mà không bị cắt */
    }
    .frame-1 .frame-container .frame-theme.pc{
      display: none;
    }
  
    /* footer  */
    .footer .footer-container {
      height: 85vw;
      justify-content: flex-start;
      gap: 0;
      padding: 12vw 0vw 0vw 0vw;
    }
  
    .footer .footer-container .footer-holder {
      scale: 3.6;
      margin: 0.5vw 0vw 0vw 0vw;
    }
  
    .footer .footer-container .footer-holder a {
      display: inline-block;
    }
  
    .footer .footer-container .footer-holder a img {
      display: block;
    }
  
    .footer .footer-container .redirect-container {
      font-size: 3.5vw;
      margin-top: 11vw;
    }
  
    .footer .footer-container .info-container .search {
      display: inline-block;
    }
  
    .footer .footer-container .info-container .search img {
      display: block;
    }
  
    .footer .footer-container .info-container .link-container a {
      display: inline-block;
    }
  
    .footer .footer-container .info-container .link-container a img {
      display: block;
    }
  
    .footer .footer-container .detail-container {
      font-size: 3.1vw;
      line-height: 1.3;
    }
  
  }
  
  @media only screen and (max-width: 920px) {
  
    .header {
      position: fixed;
    }
  
    .header .menu-pc {
      justify-content: space-between;
      padding: 0 5%;
      height: 11vw;
    }
  
    .header .menu-pc .link-container {
      display: none;
    }
  
    .header .menu-pc .link-logo {
      display: flex;
      margin-top: 0;
    }
  
    .menu-pc .toggle-menu .active {
      display: flex;
    }
  
    .menu.menu-mobile.show {
      transform: translateX(0vw);
    }
  
    .app .sidebar {
      display: none !important;
    }
  
  
  }
  
  
  @media only screen and (max-width: 430px) {
  
    .frame-1 .frame-container .frame-sologan{
      width: 80%; 
      top: 37%;
    }
    .frame-1 .frame-container .frame-sologan img{
      height: 14vh
    }
    .frame-1 .frame-container .frame-btn img {
      height: 10.5vw;
    }
    .frame-1 .frame-container .frame-btn{
      flex-direction: column;
    }
  
  }
  
  
  